# ========================
# Qt / C++ 忽略规则
# ========================
Software_PC/build-*/
Software_PC/*.user
Software_PC/*.user.*
Software_PC/debug/
Software_PC/release/
Software_PC/*.exe
Software_PC/*.a
Software_PC/*.so
Software_PC/*.dll
Software_PC/*.dylib

# ========================
# STM32 / Keil MDK 忽略规则
# ========================
Firmware_MCU/MDK-ARM/DebugConfig/
Firmware_MCU/MDK-ARM/RTE/
Firmware_MCU/MDK-ARM/*.uvguix.*
Firmware_MCU/MDK-ARM/*.uvoptx
Firmware_MCU/MDK-ARM/Objects/
Firmware_MCU/MDK-ARM/Listings/
Firmware_MCU/**/*.o
Firmware_MCU/**/*.d
Firmware_MCU/**/*.crf
Firmware_MCU/**/*.map
Firmware_MCU/**/*.hex
Firmware_MCU/**/*.axf
Firmware_MCU/**/*.htm
Firmware_MCU/**/*.lnp
Firmware_MCU/**/*.sct